---
import type { Icon as IconType } from "@lucide/astro";
interface Props {
  href: string;
  icon: typeof IconType;
  color?: "github" | "linkedin" | "blog";
  text: string;
}
const { href, icon: Icon, color = "default", text } = Astro.props;

const colorMap = {
  github: "bg-gray-800 hover:bg-gray-900",
  linkedin: "bg-blue-700 hover:bg-blue-800",
  blog: "bg-green-500 hover:bg-green-600",
  default: "bg-blue-500 hover:bg-blue-600",
};

const colorClasses = colorMap[color] || colorMap["default"];
---

<a
  href={href}
  class={`${colorClasses} text-white py-2 px-4 rounded-lg transition flex items-center justify-center gap-2`}
  target="_blank"
>
  <Icon class="w-5 h-5" />
  {text}
</a>
