---
import "@styles/global.css";
import GoogleAnalytics from "@components/GoogleAnalytics.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Xinqi Mu</title>
    <GoogleAnalytics />
  </head>
  <body>
    <slot />
  </body>
</html>
